*.js
!jest.config.js

export_vars.sh
*.d.ts
dist
node_modules
.vscode

# ignore local NPM configuration file
.npmrc

.idea/

# for lambda layer built packages
src/lambda_layer/requests/python/*
# for the lambda layer I built myself
!src/lambda_layer/dpo/python/*.py
!src/lambda_layer/dpo/python/setup.py
!src/lambda_layer/dpo/python/mtl.py
!src/lambda_layer/requests/*
# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

**.DS_Store

# use Pipfile with Pipfile.lock instead
requirements.txt

# Exclude virtual env
.venv*/

junit-reports