[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenssl = "==24.0.0"
pandas = "==2.2.0"
confluent-kafka = "==2.3.0"
cryptography = "==42.0.4"

[dev-packages]

[requires]
python_version = "3.11"
