[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenssl = "==23.2.0"
pandas = "==2.1.0"
confluent-kafka = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.11"
